body {
    margin: 0px;
    padding: 0px;
    background: #E5E5E5;
}

.logoImg {
    margin-top: 1%;
    margin-left: 5%;
    float: inherit;
}

h1 {
    color: black;
    font-family: Arial;
    font-size: 25px;
    margin: 0px;
    padding: 0px;
}

.container {
    margin: auto;
    width: 960px;
    height: 650px;
    padding: 5px;
    background: violet;
}

.logo {
    width: 100%;
    float: left;
}

.left {
    float: left;
    width: 70%;
    height: auto;
    border-radius: 24px;
    background: yellow;

}

.text-input {
    float: left;
    margin-left: 10%;
    margin-top: 10%;
    width: 80%;
    height: 80%;
    color: #0A3871;
    font-size: 20px;
    border: none;
    outline: none;
    background: #E5E5E5;
}

.right {
    float: right;
    width: 30%;
    height: auto;
    border-radius: 24px;
    background: #0A3871;
}

.left-button {
    float: left;
    width: 70%;
    height: auto;
    border-radius: 24px;
    background: pink;
}

